<!-- about -->
<div class="about" id="about">
  <div class="container">
    <h3 class="w3_head w3_head1">About Us </h3>
    <p class="toppara">Our Vision is to build Low cost community of BOTs to help Small Businesses grow.</p>
    <div class="aboutgrids">
      <div class="col-md-6 aboutleft">
        <!-- <h6>We work hard always</h6> -->
        <!-- <p>we are best in technology development</p> -->
        <div class="about-inner">
          <div class="about-inner-top">
            <!-- <div class="col-md-2">
              <i class="fa fa-database" aria-hidden="true"></i>
            </div> -->
            <div class="col-md-11">
              <!-- <h4>omni-channel presence</h4> -->
              <p>We firmly believe that your omni-channel presence through website as well as social messengers like facebook, twitter etc. are way to go to bring more Customers. We empower your business with AI enabled swam of BOTs to elevate your business to next level.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="about-inner-bottom">
            <div class="col-md-11">
              <!-- <h4>Based out of India’s Silicon Valley Bangalore</h4> -->
              <p>Based out of India’s Silicon Valley - Bangalore we are team of passionate, young and dynamic members with diversified experience and expetise</p>
            </div>
            <!-- <div class="col-md-2">
              <i class="fa fa-database" aria-hidden="true"></i>
            </div> -->
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 aboutright">
        <img src="/assets/images/about.jpg" alt="aboutimage"/>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //about -->
