<!-- Footer -->
<div class="footer w3ls">
  <div class="container">
    <div class="ftr-menu">
      <ul>
        <li><a [ngx-scroll-to]="'home'" class="scroll">Home</a></li>
        <li><a [ngx-scroll-to]="'about'" class="scroll">About</a></li>
        <li><a [ngx-scroll-to]="'services'" class="scroll">Features</a></li>        
        <li><a [ngx-scroll-to]="'team'" class="scroll">Team</a></li>
        <li><a [ngx-scroll-to]="'skills'" class="scroll">Skills</a></li>
        <li><a [ngx-scroll-to]="'pricing'" class="scroll">Pricing</a></li>
      <!--     <li><a href="#/blog-list" class="scroll">Blogs</a></li> -->
        <li><a [ngx-scroll-to]="'contactUs'" class="scroll">Contact Us</a></li>
      </ul>
    </div>
    <div class="w3ls-social-icons-2">
      <a class="facebook" href="https://www.facebook.com/GrowthAssist-1599126200184937"><i class="fa fa-facebook"></i></a>
      <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
      <a class="pinterest" href="#"><i class="fa fa-google-plus"></i></a>
      <a class="linkedin" href="https://www.linkedin.com/company/growthassist/"><i class="fa fa-linkedin"></i></a>
      <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
    </div>
    <div class="logo-fo">
      <h2><a href="index.html">Growth Assist</a></h2>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<div class="copyrights">
  <p>&copy; 2018 Grwoth Assist. All rights reserved</p>
</div>
<!-- //Footer -->
