<app-header  id="home"></app-header>
<app-about id="about"></app-about>
<app-features id="services"></app-features>
<app-business id="team"></app-business>
<app-skills id="skills"></app-skills>
<app-pricing id="pricing"></app-pricing>
<!--<app-blog id="blog"></app-blog> -->
<app-mail-us id="contact"></app-mail-us>
<app-footer></app-footer>

<a [ngx-scroll-to]="'home'" id="toTop"></a>

<div class="side-social-icon">
    <a class="share-icon"><i class="fa fa-share-alt"></i></a>
    <div class="expanded-social-container">
        <div class="expanded-social-icon">
            <a class="facebook" target="blank" href="https://www.facebook.com/GrowthAssist-1599126200184937"><i class="fa fa-facebook"></i></a>
            <a class="linkedin" target="blank" href="https://www.linkedin.com/company/growthassist/"><i class="fa fa-linkedin"></i></a>
        </div>  
    </div>
</div>

